html {
  scroll-behavior: smooth;
  font-family: system-ui, sans-serif;
}
* {
  box-sizing: border-box;
}
header a,
footer a {
  color: white;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: #f8f9fa;
}
main {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}
footer {
  min-height: 150px;
  background-color: #0f4c81;
}
header {
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #0f4c81;

  display: flex;
  align-items: center;
}
section,
header,
footer {
  padding: 30px 20px;
}

section {
  min-height: 100vh;
  scroll-margin-top: 52px;
  border-bottom: 1px solid #d9d9d9;
}
.logo-text {
  color: rgb(225, 249, 223);
}
form {
  background-color: #e9f4fe;
  border: 2px solid lightgray;
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;
}
form label {
  display: block;
}
form textarea {
  width: 100%;
}
form div {
  margin-bottom: 10px;
}
input,
select,
textarea {
  width: 200px;
  max-width: 100%;
  padding: 6px;
  border: 1px solid black;
}
form button {
  padding: 10px 20px;
  background-color: lightgray;
  border: 1px solid black;
  cursor: pointer;
}
fieldset {
  margin-bottom: 20px;
  padding: 10px 20px;
}

nav a {
  padding: 10px;
}
.slogan {
  margin-left: auto;
  color: white;
  padding: 10px;
}

.big-img {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  display: block;
}
.big-vid {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  display: block;
}
a:hover {
  text-decoration: underline;
  color: black;
}

.center-text {
  text-align: center;
}
.products {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.prod {
  width: 350px;
  text-align: center;
  border: 2px solid lightgray;
  padding: 15px;
  background-color: #dbf8dc;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.prod img {
  max-width: 350px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

li {
  display: inline-block;
}
#start {
  background: #dfdcdc;
}

#products {
  background: #ebeaea;
}

#about {
  background: #eff8ef;
}

#contact {
  background: #f7f9fc;
}

#privacy {
  background: #ffffff;
  min-height: 50vh;
}
@media (max-width: 600px) {
  header {
    height: auto;
    align-items: flex-start;
  }

  nav ul {
    padding: 0;
    margin: 10px 0;
  }

  li {
    display: block;
  }

  .slogan {
    margin-left: 0;
    font-size: 0.85rem;
  }
}
